

<div class="nav-wrapper">
  <div class="nav-box">
    <nav class="top-bar">
      <%= render 'layouts/top-bar' %>
    </nav>
    <div class="sidebar">
      <%= render 'layouts/side-bar' %>
    </div>
    <div class="new-job">
      <%= render 'form' %>

      <%= link_to 'Back', jobs_path %>
    </div>
  </div>
</div>