// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jobs-area {
  float: right;
  width: 75%;
  padding: 15px;
}

.new-job {
  float: right;
  width: 75%;
  padding: 15px;
  display: none;
  overflow-y: auto;
}

.jobs-table {
  width: 100%;
}

form#new_job div.field input {
  width: 30px;
  display: inline;
  text-align: center;

}

form#new_job div.field {
  height: 36px;
}

form#new_job div.field label {
  display: inline;

}

form#new_job div.field input#job_name{
  width: 70%;
  text-align: justify;
}

.new-job-wrapper {
  width: 39%;
  margin-left: 20px;
}

.custom-expand {
  width: 85%;
}