// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jobs-area {
  float: right;
  width: 75%;
  padding: 15px;
}

.new-job {
  float: right;
  width: 75%;
  padding: 15px;
}

.jobs-table {
  width: 100%;
}

form#new_job div.field input {
  width: 10%;
  display: inline;
  text-align: center;

}

form#new_job div.field label {
  display: inline;

}

form#new_job div.field input#job_name{
  width: 35%;
  text-align: justify;
}