.press_jobs-area {
  float: right;
  width: 75%;
  padding: 15px;
}

.press-jobs-table {
  margin: 0 auto;
  width: 70%;
  font-size: 20px;
  margin-bottom: 5px;
}

.next-page.press-selection {
  display: none;
}

.press-checkbox {
  margin-bottom: 10px;
}