
.press_jobs-area {
  float: right;
  width: 100%;
  padding: 0px 15px 15px 15px;
}

.press-jobs-table {
  margin: auto;
  float: center;
  width: 95%;
  font-size: 20px;
  margin-bottom: 5px;
  display: inline-block;
}

.next-page.press-selection {
  display: none;
}

.press-checkbox {
  margin-bottom: 10px;
}

.press-cost-summary-container {
  margin: 0 auto;
  text-align: center;
}

.left-press {
  width: 50%;
  float: left;
  display: inline;
}

.right-press {
  width: 50%;
  float: right;
  display: inline;
}

.left-press p, .right-press p {
  text-align: left;
  line-height: 40px;
  display: inline;
}

.press-job-values {
  background-color: #9dcde9;
  color: white;
  text-align: right;
  display: inline;
  float: right;
}

.press-job-values-table {
  margin: 0 auto;
}

.press-job-values-table td {
  padding-top: 0px;
  padding-bottom: 0px;
}

.press-cost-summary-navigation {
  height: 30px;
}

h3.subheader.inline-header {
  display: inline;
}

.icon-tiny.next-arrow.press-cost-summary-carousel {
  margin-right: 6px;
}

.foundicon-left-arrow.icon-tiny.next-arrow.press-cost-summary-carousel {
  display: none;
}

.other-jobs-container {
  display: none;
}

input.press-job-values {
  margin-bottom: 0;
  background-color: #9dcde9;
  color: white;
  text-align: right;
  display: inline;
  float: right;
  font-family: "Consolas", "Menlo", "Courier", monospace;
  font-size: 0.9375em;
  padding: 0.125em 0.25em 0em;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-color: #dbdbdb;
  border-style: solid;
  font-family: "Consolas", "Menlo", "Courier", monospace;
  border-width: 1px;
}
input.press-job-values:focus  {
  margin-bottom: 0;
  background-color: #9dcde9;
  color: white;
  text-align: right;
  display: inline;
  float: right;
  font-family: "Consolas", "Menlo", "Courier", monospace;
  font-size: 0.9375em;
  padding: 0.125em 0.25em 0em;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-color: #dbdbdb;
  border-style: solid;
  font-family: "Consolas", "Menlo", "Courier", monospace;
  border-width: 1px;
}