
.press_jobs-area {
  float: right;
  width: 75%;
  padding: 15px;
}

.press-jobs-table {
  margin: 0 auto;
  width: 70%;
  font-size: 20px;
  margin-bottom: 5px;
}

.next-page.press-selection {
  display: none;
}

.press-checkbox {
  margin-bottom: 10px;
}

.press-cost-summary-container {
  margin: 0 auto;
  text-align: center;
}

.left-press {
  width: 50%;
  float: left;
  display: inline;
}

.right-press {
  width: 50%;
  float: right;
  display: inline;
}

.left-press p, .right-press p {
  text-align: left;
  line-height: 40px;
  display: inline;
}

.press-job-values {
  background-color: #9dcde9;
  color: white;
  text-align: right;
  display: inline;
  float: right;
}

.press-job-values-table {
  margin: 0 auto;
}

.press-job-values-table td {
  padding-top: 0px;
  padding-bottom: 0px;
}

.press-cost-summary-navigation {
  height: 30px;
}

h3.subheader.inline-header {
  display: inline;
}

.icon-tiny.next-arrow.press-cost-summary-carousel {
  margin-right: 6px;
}

.other-jobs-container {
  display: none;
}