.roi-table {
  margin: 0 auto;
  width: 70%;
}

table.roi-table td th {
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: middle;
}

table.roi-table th {
  width: 15%;
  font-size: 10pt;
  vertical-align: text-bottom;
}

table.roi-table p {
  line-height: 25px;
}

.roi-chart {
  margin: 0 auto;
  height: 300px;
  max-width: 70%;
}

