/* Reusable variables
========================================================================================*/

$dark-background: #262626;
$main-blue: #1082CC;

/* Base Styles
========================================================================================*/

.page-title {
  text-align: center;
}

.icon-medium {
  display: inline;
  float: right;
  line-height: 1.4;
  text-align: center;
  font-size: 30px;
  margin: 5px;
}

.icon-small {
  display: inline;
  line-height: 1.4;
  text-align: center;
  font-size: 15px;
}

.inline-field {
  display: inline-block;
  width: 250px;
}

.inline-field-long {
  display: inline-block;
}

.progress-arrows {
  display: block;
  height: 30px;
}

.next-text {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  font-size: 24px;
}

.back-text {
  float: left;
  margin-top: 5px;
  margin-right: 5px;
  font-size: 24px;
}

.next-arrow {
  margin-right: 24px;
}

.back-arrow {
  margin-right: 8px;
  margin-left: 24px;
  float: left;
}

/* Login Page
========================================================================================*/

.login-wrapper {
  background: transparent;
  width: 25%;
  height: 50%;
  margin:10% auto;
}

.login-fields {
  background-color: #fff;
  border-radius: 7px;
  border: 1px solid silver;
  padding: 30px;
}

.hp_logo {
  display:block;
  margin:auto;
  margin-bottom: 20px;
}

.login-button {
  background-color: $main-blue;
}

/* Navigation
========================================================================================*/

.nav-wrapper {
  background: transparent;
  width: 70%;
  height: 50%;
  margin:7% auto;
}

.nav-box {
  background-color: #fff;
  height: 600px;
  border-color: #e5e5e5 #dbdbdb transparent #d2d2d2;
  box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
}

.sidebar{
  width: 25%;
  background-color: #f1f3f5;
  height: 90%;
  padding: 15px;
  float: left;
}

.sidebar-list{
  margin-bottom: 0px;
}

.hover-reveal {
  display: none;
}


.top-bar {
  margin-bottom: 0;
  height: 10%;
  background-color: #9dcde9;
}

.tiny-logo{
  display: inline;
  vertical-align: middle;
  margin-left: 25px;
  margin-top: 7px;
}

.gear {
  color: #fff;
  margin-right: 25px;
  margin-top: 9px;
}

.gear:hover {
  color: #eee;
}

.brand {
  color: #fff;
  margin-left: 15px;
  display: inline;
}

.right-sided-dropdown.open {
  left: 800px !important;
  top: 50px !important;
}

.f-dropdown.right-sided-dropdown:before {
  left: 161px;
}

.f-dropdown.right-sided-dropdown:after {
  left: 161px;
}

/* Completion Steps
========================================================================================*/

.step {
  color: #999;
  display: inline-block;
  padding: 10px;
  width: 19.5%;
  background-color: #ccc;
  height: 100%;
  font-size: 75%;
}

.completion-steps {
  text-align: center;
  width: 100%;
}

.selected-step {
  background-color: #9dcde9;
  color: white;
}