<div class="step job-basket">
  1. Job Basket
</div>
<div class="step press-select">
  2. Press Select
</div>
<div class="step press-cost-summary">
  3. Press Summary
</div>
<div class="step cost-analysis ">
  4. Cost Analysis
</div>
<div class="step reports ">
  5. Reports
</div>