<div class="step job-basket">
  <%= link_to("1. Job Basket", jobs_path) %>
</div>
<div class="step press-select">
  <%= link_to("2. Press Select", new_press_job_path) %>
</div>
<div class="step press-cost-summary">
  <%= link_to("3. Press Summary", press_jobs_path) %>
</div>
<div class="step cost-analysis ">
  <%= link_to("4. Cost Analysis", "#") %>
</div>
