<%= image_tag("hp_logo_tiny.png", :class => "hp_logo tiny-logo") %>
<h4 class="brand"> Indigo ROI Calculator</h4>
<h5 class="brand"> Sheet Feed Commercial Presses</h5>

<i data-dropdown="drop1" class="foundicon-settings icon-medium gear dropdown"></i>


<ul id="drop1" class="f-dropdown right-sided-dropdown">
  <li><%= link_to "Reset Session", jobs_empty_basket_path, :method => :post, data: { confirm: 'Are you sure you want to reset session?' }%></li>
  <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
</ul>
