<%= image_tag("hp_logo_tiny.png", :class => "hp_logo tiny-logo") %>
<h4 class="brand"> Indigo ROI</h4>

<i data-dropdown="drop1" class="foundicon-settings icon-medium gear dropdown"></i>


<ul id="drop1" class="f-dropdown right-sided-dropdown">
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
</ul>
